beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2024.7.4
chardet==3.0.4
fake-useragent==0.1.11
idna==3.7
pipenv>=2022.1.8
requests==2.32.0
soupsieve==2.0
urllib3>=1.26.5
virtualenv==16.7.7
virtualenv-clone==0.5.3
